{% extends '../base.html' %}
{% load my_temp %}

{% block content %}

<div class="container-lg">
    {% if budget_info_list %}
    <h3>Budget set for this month, {{ this_month }}</h3>
    {% for budget in budget_info_list %}
        <div class="row">
            <div class="col-md-4">
                <p>
                    {{ budget.category_name }} ({{ budget.budget_limit|floatformat:"2g" }})
                    <a href="{% url 'the_budget:edit_budget' budget.budget_id %}" class="text-secondary">Edit Budget</a>
                </p>
                {% if budget.remaining < 0 %}
                <p>Over {{ budget.remaining|abs|floatformat:"2g" }} spent on your budget</h>
                {% else %}
                <p>{{ budget.remaining|floatformat:"2g" }} left on your budget</p>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="progress" style="height: 1.5rem;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ budget.pb_width }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span style="font-size: 1.2rem;">{{ budget.spent|abs|floatformat:"2g" }}</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    {% else %}
        No budgets set for this month. {{ this_month }}.
    {% endif %}

    {% if categories %}
    <h3>Set budget for this categories</h3>
    <div class="d-flex flex-wrap g-2">
        {% for category in categories %}
        <div class="m-2">
            <a href="{% url 'the_budget:create_budget' category.pk %}" class="btn btn-outline-primary">{{ category.category_name }}</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock content %}