{% extends '../base.html' %}
{% load my_temp %}

{% block content %}

<div class="container-lg">
    {% if budget_info_list %}
    <h1>Budget set for this month</h1>
        {% for budget in budget_info_list %}
            <div>{{ budget.category_name }} ({{ budget.budget_limit|floatformat:"2g" }})</div>
            {% if budget.total_expense < 0 %}
            <div>Over {{ budget.remaining|abs|floatformat:"2g" }} spent on your budget</div>
            {% else %}
            <div>{{ budget.remaining|floatformat:"2g" }} left on your budget</div>
            {% endif %}
        {% endfor %}
    {% else %}
        No budgets set for this month.
    {% endif %}

    {% if categories %}
    <h3>Set budget for this categories</h3>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'the_budget:create_budget' category.pk %}">{{ category.category_name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}