<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Budget App {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'the_budget_app/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'the_budget_app/style.css' %}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-md">
            <a class="navbar-brand" href="#">The Budget App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add New Record
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'the_budget:new_income' %}">Income</a></li>
                    <li><a class="dropdown-item" href="{% url 'the_budget:new_expense' %}">Expense</a></li>
                    <li><a class="dropdown-item" href="{% url 'the_budget:new_transfer' %}">Transfer</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'the_budget:record' %}">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'the_budget:budget' %}">Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'the_budget:account' %}">Accounts</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="container mt-4 alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% block content %}
    {% endblock %}
    <script src="{% static 'the_budget_app/bootstrap.min.js' %}"></script>
</body>
</html>